<section class="container-fluid d-flex bottom-slide animated fadeIn">

  <div class="col-lg-6 m-3 flex-row">
    <a class="" href="#">
    <img src="../assets/logo_blanco.png" alt=""  height="100">
      </a>
      <a href="" class="flex-row"><img src="../assets/open-iconic-master/svg/phone.svg" height="100" alt="phone"></a>

  </div>
<div class="col-lg-6 m-3 ml-auto">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.2171119054856!2d-89.64184578510307!3d20.983932386022754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5673edd9cd063f%3A0x2c6efbc5af48d3ae!2sCANACO+SERVYTUR+M%C3%A9rida!5e0!3m2!1ses!2smx!4v1526110197690" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</section>
