<nav class="navbar navbar-expand-lg navbar-line navbar-light sticky-top " style="background-color: #ffffff;" >
  <a class="navbar-brand" href="#">
  <img src="../assets/colabora_color.png" alt=""  height="60">
    </a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-center justify-content-center" id="navbarNavAltMarkup">
        <!-- <div class="vl"></div> -->
    <div class=" navbar-nav ">
      <a class=" navbar-brand nav-item nav-link active color-text" href="#">Inicio <span class="sr-only">(current)</span></a>
      <a class="navbar-brand nav-item nav-link color-text" href="#">¿Quiénes somos?</a>
      <a class="navbar-brand nav-item nav-link color-text" href="#">Proyectos</a>
      <a class="navbar-brand nav-item nav-link color-text" href="#">Casos de éxito</a>
      <a class="navbar-brand nav-item nav-link disabled color-text" href="#">Contacto</a>
    </div>
    <div class="ml-auto">
    <a href="" class="btn btn-primary">Regístrate</a>
    <a href="" class="btn btn-purple">Inicia Sesión</a>
    </div>


  </div>


</nav>
