<div class="container-fluid d-flex justify-content-around">
  <div class="row">
    <div class="container-fluid col-lg-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/O4vkrc9IONI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <div class="container-fluid col-md-6">
        <div class="banner container-fluid"><h4>Kinetech</h4>
          <p>Kinetech Power Systems S.A. de C.V. es una empresa dedicada al desarrollo, fabricación y comercialización de sistemas de almacenamiento de energía con volantes de inercia (FESS). La empresa desarrolla proyectos de almacenamiento de energía para la industria de la energía eléctrica, tomando participación en el diseño, ingeniería e instalación.</p>
      </div>
    </div>
  </div>
  <!-- <h1 class="display-1  text-center">Petvit</h1>
  <!-- <div class="row justify-content-around">
    <div class="col-auto">
      <img src="assets/Business-Banner.png" alt="">
    </div>
  </div>
  <div class="row justify-content-around">
    <blockquote class="blockquote">
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad saepe, dolore iste debitis aspernatur nulla necessitatibus sapiente. Maiores amet, id suscipit hic facere in fugiat quos, cumque, omnis dolores excepturi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro vitae consequuntur pariatur quaerat adipisci quos esse provident sunt deleniti minima nemo, hic consequatur voluptatum deserunt aperiam, incidunt possimus quod ipsum? Lorem ipsum dolor sit amet, consectetur
       adipisicing elit. Eius minus numquam quis porro eligendi commodi inventore, error alias odio dolore hic illum deleniti quibusdam quaerat facere, reiciendis sunt optio sed.</p>
  </div>

  <div class="row justify-content-around ">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/O4vkrc9IONI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <tr></tr>
<div class="container-fluid d-flex flex-row justify-content-around">
  <div class="card rounded animated fadeIn proyect-card col-md-2  m-2" >

    <div class="card-body">
      <h5 class="card-title">Donar</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
    <div class="card-footer d-flex bg-transparent">
      <button type="button" class="btn btn-success col-md-12" >Donar ahora</button>
    </div>
  </div>
  <div class="card rounded animated fadeIn proyect-card col-md-2  m-2" >

    <div class="card-body">
      <h5 class="card-title">Donar</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
    <div class="card-footer  d-flex  justify-content-around bg-transparent">
      <button type="button" class="btn btn-success col-md-12" >Donar ahora</button>
    </div>
  </div>
  <div class="card rounded animated fadeIn proyect-card col-md-2 m-2 " >

    <div class="card-body">
      <h5 class="card-title">Donar ahora</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
    <div class="card-footer  d-flex  justify-content-around bg-transparent">
      <button type="button" class="btn btn-success col-md-12" >Donar ahora</button>
    </div>
  </div>

  <div class="card rounded animated fadeIn proyect-card col-md-2  m-2" >

  <div class="card-body">
    <h5 class="card-title">Donar</h5>
    <p class="card-text">$10,000 MXN</p>

  </div>
  <div class="card-footer  d-flex  justify-content-around bg-transparent">

      <button type="button" class="btn btn-success col-md-12" >Donar ahora</button>
  </div>
  </div>
  </div> -->
</div>
