<section class=" animated fadeIn container-fluid slider d-flex flex-column align-items-center flex-wrap justify-content-around  ">

 <h1  class="display-4 inverse-text" >Proyectos de inversión</h1>

 <h6  class="blockquote inverse-text ">Proyectos con enfoque disruptivo, innovadores y de alta escalabilidad.</h6>
 <p class="inverse-text "> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nisi quod nam quaerat vero, quos soluta tempora assumenda, consequuntur sint, velit ipsa cupiditate, quo exercitationem. Quo repudiandae qui eius illum.</p>
</section>

<section class="container-fluid  d-flex p-5 flex-wrap justify-content-around m-2">

    <div class="card rounded animated fadeIn proyect-card col-lg-3 m-2 " >
      <img class="card-img-top img-card" src="assets/colaboralogo.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Proyecto 6</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-footer  d-flex  justify-content-around bg-transparent">
        <div class="col-xs-4">
          <h6>Meta</h6>
          <small>$1.1M</small>
        </div>
        <div class="col-xs-4">
          <h6>Restantes</h6>
          <small>$500k</small>
        </div>
        <div class="col-xs-4">
          <h6>Quedan</h6>
          <small>29 días</small>
        </div>
      </div>
  </div>

  <div class="card rounded animated fadeIn proyect-card col-md-3  m-2" >
    <img class="card-img-top" src="assets/colaboralogo.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Proyecto 6</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer  d-flex  justify-content-around bg-transparent">
      <div class="col-xs-4">
        <h6>Meta</h6>
        <small>$1.1M</small>
      </div>
      <div class="col-xs-4">
        <h6>Restantes</h6>
        <small>$500k</small>
      </div>
      <div class="col-xs-4">
        <h6>Quedan</h6>
        <small>29 días</small>
      </div>
    </div>
</div>

<div class="card rounded animated fadeIn proyect-card col-md-3  m-2" >
  <img class="card-img-top" src="assets/colaboralogo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Proyecto</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-footer  d-flex  justify-content-around bg-transparent">
    <div class="col-xs-4">
      <h6>Meta</h6>
      <small>$1.1M</small>
    </div>
    <div class="col-xs-4">
      <h6>Restantes</h6>
      <small>$500k</small>
    </div>
    <div class="col-xs-4">
      <h6>Quedan</h6>
      <small>29 días</small>
    </div>
  </div>
</div>
<div class="card rounded animated fadeIn proyect-card col-md-3 m-2 " >
  <img class="card-img-top" src="assets/colaboralogo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Proyecto 6</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-footer  d-flex  justify-content-around bg-transparent">
    <div class="col-xs-4">
      <h6>Meta</h6>
      <small>$1.1M</small>
    </div>
    <div class="col-xs-4">
      <h6>Restantes</h6>
      <small>$500k</small>
    </div>
    <div class="col-xs-4">
      <h6>Quedan</h6>
      <small>29 días</small>
    </div>
  </div>
</div>

<div class="card rounded animated fadeIn proyect-card col-md-3  m-2" >
<img class="card-img-top" src="assets/colaboralogo.png" alt="Card image cap">
<div class="card-body">
  <h5 class="card-title">Proyecto 6</h5>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
<div class="card-footer  d-flex  justify-content-around bg-transparent">
  <div class="col-xs-4">
    <h6>Meta</h6>
    <small>$1.1M</small>
  </div>
  <div class="col-xs-4">
    <h6>Restantes</h6>
    <small>$500k</small>
  </div>
  <div class="col-xs-4">
    <h6>Quedan</h6>
    <small>29 días</small>
  </div>
</div>
</div>

<div class="card rounded animated fadeIn proyect-card col-md-3  m-2" >
<img class="card-img-top" src="assets/colaboralogo.png" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Proyecto</h5>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
<div class="card-footer  d-flex  justify-content-around bg-transparent">
<div class="col-xs-4">
  <h6>Meta</h6>
  <small>$1.1M</small>
</div>
<div class="col-xs-4">
  <h6>Restantes</h6>
  <small>$500k</small>
</div>
<div class="col-xs-4">
  <h6>Quedan</h6>
  <small>29 días</small>
</div>
</div>
</div>



</section>
